<html lang="en">
<head>
    <title> Minesweeper </title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">

    <!-- JS -->
    <script src="../../node_modules/p5/lib/p5.min.js"></script>
    <script src="../drawing/sketch.js"></script>
</head>
<body>

<div class="container">
    <div class="row d-flex justify-content-center">
        <h1> Minesweeper </h1>
    </div>

    <div class="row">
        <div class="col"></div>

        <div class="col canvas d-flex justify-content-center">
            <div id="canvas"></div>
        </div>

        <div class="col"></div>
    </div>
</div>
</body>
</html>
